head
	title Quản lý chứng chỉ hành nghề
	link(rel="stylesheet", href='bootstrap.css')
	link(rel="stylesheet", href='style.css')
	script(src='jquery.js')
	script(src='popper.min.js')
	script(src='bootstrap.js')
