doctype html
html
	include head.pug
	body
		h2 Kiểm tra điều kiện cấp CCHN
		p Thẩm định văn bằng Y Khoa và Chứng chỉ thực tập

		hr

		div(class='form-group')
			label(for='owner') ID người nộp hồ sơ:
			div(class='col-sm-10')
				input(type='text', class='form-control', id='owner', aria-describedby='ownerInput', placeholder='Nhập họ và tên')
			


